.year-container {
     position: fixed;
     min-width: fit-content;
     width: 20%;
     height: 100%;
     margin-left: 5rem;
     display: flex;
     flex-direction: column;
     background-color: #f0f0f0;
}

.year {
     width: fit-content;
     min-width: fit-content;
     height: fit-content;
     width: calc(100% - 2rem - 4px);
     background-color: var(--green-light);
     margin: 0.5rem;
     margin-bottom: auto;
     padding: 1.25rem 0.5rem;
     border-radius: 0.5rem;
     border: 2px solid #dadada;
}

/* add js to set min width to highest value of batch */
.cetegory {
     position: relative;
     width: 80%;
     min-width: 5rem;
     text-align: center;
     height: 1rem;
     padding: 0.8rem 5% 0.8rem 5%;
     margin: 1rem 5% 0 5%;
     border-radius: 0.5rem;
     background-color: #fff;
     cursor: pointer;
     color: #000;
}

.year h1{
     margin: 0 5%;
     font-size: 1.75rem;
     font-weight: 500;
     width: fit-content;
}

.selected{
     background-color: var(--green-lighter);
     color: #fff;
}
.selected:hover{
     background-color: var(--green-light) !important;
}

.cetegory:hover{
     background-color: var(--main1);
}