@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
     margin: 0;
     padding: 0;
     color: #fff;
}

body{
     font-family: 'Roboto', 'sans-serif' ;
     display: flex;
     min-height: 100vh;
     /* background-image: url("/static/img/svg/stacked-peaks-haikei.svg"); */
     background-size: cover;
     background-color: #F6F6F6;
}

nav{
     position: fixed;
     display: flex;
     flex-direction: column;
     width: fit-content;
     background-color: #FFF;
     height: 100vh;
     /* background-image: url("/static/img/svg/low-poly-grid-haikei.svg"); */
     /* background-size: cover; */
     /* border-right: #CCC 1px solid; */
     transition: none;
}

section{
     border-top: 2px solid #CCC;
}

h1{
     font-size: 1.25rem;
     font-weight: 500;
     padding: var(--nav-element-padding);
     color: #555;
}

button{
     padding: 0.5rem 1rem;
     cursor: pointer;
}

.hide{
     display: none !important;
}

img {
     cursor: none;
     pointer-events: none;
}