@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
     margin: 0;
     padding: 0;
     color: #fff;
     transition: 100ms;
}

body{
     font-family: 'Roboto', 'sans-serif' ;
     display: flex;
     height: 100vh;
}

nav{
     position: fixed;
     display: flex;
     flex-direction: column;
     width: fit-content;
     height: 100vh;
     background-color: var(--main1);
     background-image: url("/static/img/svg/sideBackground.svg");
     background-size: cover;
}