/* profile css */
.profile{
    width: fit-content;
    height: fit-content;
    border-top: 2px solid #fff;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.elements {
    display: flex;
    height: fit-content;
}

.information > p {
    margin-left: 0.5rem;
}

.logout{
    padding: 0.75rem;
    margin: 0.75rem;
    border-radius: 0.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-highlight);
}

.logout:hover{
    background-color: var(--green-light);
    cursor: pointer;
}

.logout img {
    margin-right: 0.5rem;
}

.elements{
    margin-left: 1rem;
}

/* buttons */
.control {
    background-color: var(--green);
    border-top: 2px solid #fff;
}

.save{
    background-color: var(--green-highlight);
    width: calc(100% - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    margin: 1rem;    
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
}

.save > p{
    font-weight: 500;
    color: #fff;
}

.save > img {
    margin:0 0.5rem 0 0;
}

.save > *:last-child{
    margin-left: 0;
}

.save:hover{
    background-color: var(--green-light);
}

/* category */
.year-container {
    position: fixed;
    min-width: fit-content;
    width: 100%;
    height: 100%;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

.year {
    min-width: fit-content;
    height: fit-content;
    width: calc(100% - 2rem);
    background-color: var(--green);
    margin-bottom: auto;
    padding: 1rem;
    border-bottom: 2px solid #fff;
    font-weight: 500;
}

.category {
    position: relative;
    width: calc(100% - 2rem);
    min-width: fit-content;
    text-align: center;
    height: 1rem;
    padding: 0.8rem 1rem 0.8rem 1rem;
    margin: 1rem 0 0 0;
    border-radius: 0.5rem;
    background-color: #fff;
    cursor: pointer;
    color: #000;
}

.year > h1{
    margin: 0 auto;
    font-size: 1.75rem;
    font-weight: 600;
    width: fit-content;
}

.selected{
    background-color: var(--green-highlight);
    color: #fff;
}
.selected:hover{
    background-color: var(--green-light) !important;
}

.category:hover{
    background-color: var(--main1);
}