/* profile css */
#profile{
    width: fit-content;
}

.elements {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--nav-element-margin);
}

#information {
    margin: 0 var(--nav-element-margin);
    padding: 1rem var(--nav-element-padding) 0;
}

#information > p{
    color: #353535;
}

.logout{
    padding: 0.75rem;
    margin: var(--nav-element-margin);
    border-radius: 0.5rem;
    font-weight: 500;
    width: calc(100% - 1.5rem - 2 * var(--nav-element-margin));
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-highlight);
}

.logout:hover{
    background-color: var(--green-light);
    cursor: pointer;
}

.logout img {
    margin-right: 0.5rem;
}

/* Buttons */
.button {
    display: flex;
    width: (100% - 2 * var(--nav-element-margin) - 2 * var(--nav-element-padding) );
    height: 1rem;
    border-radius: 1rem;
    margin: var(--nav-element-margin);
    padding: var(--nav-element-padding);
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    transition: 150ms;
}

.button:hover {
    background-color: var(--light-green);
}

.button > img{
    height: 1.5rem;
    margin-right: 1rem;
}

.button > p {
    color: #353535;
    font-weight: 600;
}

.control {
    background-color: var(--green);
    border-top: 2px solid #fff;
}

/* category */
#category {
    position: relative;
    width: 100%;
    min-width: fit-content;
    height: fit-content;
    margin-bottom: auto;
    border-top: none;
    border-bottom: #CCC 2px solid;
}
#category > h1{
    border-bottom: #CCC 2px solid;
}

.selected{
    background-color: var(--green-highlight);
    color: #fff;
}
.selected:hover{
    background-color: var(--green-light) !important;
}