.profile{
    width: fit-content;
    height: fit-content;
    border-top: 2px solid #fff;
    background-color: var(--green-light);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elements {
    display: flex;
    height: fit-content;
}

.information > p {
    margin-left: 0.5rem;
}

.logout{
    padding: 0.75rem;
    margin: 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-lighter);
}

.logout:hover{
    opacity: 0.75;
    background-color: var(--green);
    cursor: pointer;
}

.logout img {
    margin-right: 0.5rem;
}

.elements{
    margin-left: 1rem;
}


