.table{
     margin: 5rem 0;
     background-color: #FFF;
     width: 80%;
     height: fit-content;
     box-sizing: border-box;
     box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
     border-radius: 0.5rem;
     overflow: hidden;
}

#main{
     display: flex;
     flex-direction: column;
     align-items: center;
}

#best-control{
     padding: var(--nav-element-margin);
     border-bottom: #DDD 2px solid;
     display: flex;
     align-items: center;
}

/* button modification */
#best-control > .button {
     background-color: var(--green);
     margin-left: auto;
     box-sizing: border-box;
}

#best-control > .button:hover {
     opacity: 0.85;
}

.single{
     padding: calc(var(--nav-element-padding) - 4px) !important;
     width: fit-content !important;
     height: fit-content !important;
}

.single > img{
     margin: 0 !important;
}

/* table definition */
table{
     width: 100%;
     height: fit-content;
     border-collapse: collapse;
     /* background-color: #999; */
}

#navigation{
     border-bottom: 2px solid #CCC;
}

#navigation > td {
     color: #CCC;
     font-weight: 500;
     width: fit-content;
     padding: 0.5rem;
}

.solver{
     border-bottom: 2px solid #ccc;
     padding: 2px;
}

textarea{
     padding: 0.5rem;
     width: calc(100% - 1rem);
     height: 1rem;
     font-family: 'Roboto', 'sans-serif' ;
     background-color: transparent;
     color: black;
     resize: none;
     border: none;
     outline: none;
}

textarea::placeholder{
     opacity: 0.25;
     font-weight: 400;
}

.score{
     display: flex;
     align-items: center;
}

.score > textarea{
     width: calc(100% - 6rem);
}

.score > img{
     width: 1.25rem !important;
     height: 1.25rem !important;
     padding: 0.25rem;
     background-color: var(--green);
     border-radius: 0.5rem;
     pointer-events: all;
     cursor: pointer;
}    

.trash{
     background-color: #000;
     pointer-events: all;
     cursor: pointer;
}


/* debug */

.fragment > textarea{
     border: #000 1px solid;
}