.tables{
     width: 100%;
     height: fit-content;
     display: flex;
     justify-content: center;
}

.activeTable{
     transition: none;
     height: fit-content;
     background-color: var(--green-light);
     padding: 1rem;
     margin: 1rem;
     margin-bottom: 10rem;
     border-radius: 0.5rem;
}

.activeTable h1{
     margin-left: 0.5rem;
     color: #fff;
}

.activeTable form{
     display: flex;
     flex-wrap: wrap;
     gap: auto;
}

.fragment {
     display: flex;
     padding: 0.5rem;
     margin: 0.5rem;
     border-radius: 0.5rem;
     background-color: var(--green-lighter);
}

.fragment input{
     width: 100%;
     border-radius: 0.25rem;
     padding: 0.25rem;
     outline: none;
     border: none;
     color: #000;
}

.fragment p {
     width: 2rem;
     text-align: center;
     margin-right: 0.5rem;
}

.best {
     background-color: var(--main2);
     background-color: var(--green-lighter);
     height: fit-content;
     margin: 2rem 0 1rem 0;
     border-radius: 0.5rem;
     overflow: hidden;

}

tr td:last-child{
     border: none;
     padding: 0 0.25rem;
}

tr td:last-child:hover{
     background-color: var(--main3);
}

button {
     color: #000;
}

.input-container {
     height: fit-content;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;     
}

.details {
     display: flex;
}

table, th, td {
     /* border: 2px solid #fff; */
     border-collapse: collapse;
}

td{
     background-color: transparent;
     color: #fff;
     font-weight: 600;
     text-align: center;
     border-right: 1px solid var(--green);
}

input[type="date"] {
     user-select: none;
}

td > input[type="number"] {
     -webkit-appearance: textfield;
        -moz-appearance: textfield;
             appearance: textfield;
}

td > input[type=number]::-webkit-inner-spin-button, td >input[type=number]::-webkit-outer-spin-button { 
     -webkit-appearance: none;
}

td > * {
     padding: 0.35rem;
     border: none;
     outline: none;
     background-color: transparent;
     color: #fff;
     font-weight: 500;
     font-size: 1rem;
     height: 2rem;
}

.header {
     padding: 0.35rem;
     background-color: var(--green-light);
     border: none;
     pointer-events: none;
}

td > img {
     pointer-events: all;
     cursor: pointer;
}

td > input {
     padding-left: 1.5rem;
     min-width: fit-content;
     width: calc(100% - 0.75rem - 1.5rem);
}

tr:nth-child(odd){
     background-color: var(--green-lighter-alt);
}

.best > h1 {
     margin: 1rem 0 1rem 1rem;
}

.best > img {
     outline: none;
     border: 2px solid #fff;
     background-color: var(--green-light);
     border-radius: 1rem;
     padding: 0.5rem;
     margin: 1rem 0 0 0;
     pointer-events: all;
     cursor: pointer;
}

.best > img:hover {
     background-color: var(--green-lighter);
}

.best > p {
     font-size: 1.25rem;
     font-weight: 600;
     margin: 0 0 1rem 1rem;
     background-color: var(--green-light);
     padding: 0.75rem;
     border-radius: 0.75rem;
     width: fit-content;
     cursor: pointer;
}

.subcontainer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}