.tables{
     width: 100%;
     height: fit-content;
     display: flex;
     justify-content: center;
}

.activeTable{
     height: fit-content;
     background-color: var(--green);
     padding: 0.8rem;
     margin: 1rem;
     margin-bottom: 10rem;
     border-radius: 0.5rem;
}

.activeTable h1{
     margin-left: 0.5rem;
     color: #fff;
}

.activeTable form{
     display: flex;
     flex-wrap: wrap;
}

.fragment {
     display: flex;
     padding: 0.4rem;
     margin: 0.5rem;
     border-radius: 0.5rem;
     background-color: var(--blue);
}

.fragment input{
     width: 100%;
     border-radius: 0.25rem;
     padding: 0.25rem;
     outline: none;
     border: none;
     color: #000;
}

.fragment p {
     width: 2rem;
     text-align: center;
     margin-right: 0.5rem;
}