@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body{
     font-family: 'Roboto', 'sans-serif' ;
     background-color: #fff;
     margin: 0;
}
#login{
     padding-right: 10px;
     padding-left: 10px;
     height: 100%;
     transition: 100ms;
}

#login:hover{
     background-color: rgba(0, 0, 0, 0.1);
}

#options{
     width: 100%;
     padding-right: 10px;
     padding-left: 10px;
     height: 80px;
     z-index: -1;
     text-align: right;
     position:absolute;
     top: calc(40px - 80px);
     transition: 100ms;
     background-color: aqua;
     color: red;
}

#login:hover #options{
     top:50px;
}

#name{
     font-weight: 500;
     color: #fff;
     margin: 0;
     position: relative;
     top: 50%;
     transform: translateY(-50%);
}

nav{
     display: flex;
     flex-direction: row-reverse;
     height: 40px;
     width: 100%;
     background-color: #1fc600;
     border-bottom: 2px solid #808080;
}