:root{
     --white:#fff;
     --main1:#f0f0f0;
     --main2:#cfcfcf;
     --main3:#bbbbbb;
     --main4:#a3a3a3;
     
     --contrast1:#808080;
     --contrast2:#5c5c5c;

     --highlight:#727272;
     --text:#252525;

     /* release colors */
     --green:#449342;
     --green-highlight:#3b7e3a;
     --green-light:#499e47;
     --green-accent: #ececec; 
}