@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root{
     --board: #f8f8f8;
     --menu: #24557a;
     --outline: #dfdfdf;
     --outlineFocus: #c5c5c5;
     --form: #ffffff;
     --text: #8a8a8a;
     --submit: #1a7a18;
     --submitHigh: #1e971c;
     --submitDark: #146413;

     --green-light:#62dd60;
     --green-highlight:#5ce85a;
}

*{
     padding: 0;
     margin: 0;
     font-family: 'Roboto', 'sans-serif' ;
}

body{     
     text-align: center;
     background-color: var(--board);
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background-color: var(--menu);
     background-image: url('../img/svg/blob-scene-haikei.svg');
     background-size: cover;
     background-position: center center;
     background-attachment: fixed;
     overflow:hidden;

}

::placeholder{
     color: var(--text);
     opacity: 0.8;
}

form{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-width: 200px;
     width: calc(20vw + 6rem);
     padding: 2rem 3rem;
     border-radius: 0.5rem;
     color: var(--text);
     margin-bottom: 20vh;
     background-color: var(--form);
     box-sizing: border-box;
     box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
     overflow: hidden;
}

#submit{
     background-color: var(--green-light);
     border-color: var(--submit);
     border: none;
     color: #FFF;
     cursor: pointer;
     transition: 90ms;
     width: fit-content;
     padding: 0.5rem 2.5rem;
     /* border-color: var(--submitHigh); */
}

#submit:hover{
     background-color: #5ce85a;
}

.item{
     margin: 0.5rem 0;
     background-color: var(--board);
     color: var(--text);
     font-weight: 500;
     width: 80%;
     outline: none;
     border: none;
     line-height: 1rem !important;
     font-size: 1rem;
     padding: 0.5rem;
     border-radius: 0.35rem;
     border: 2px solid var(--outline);
}

.item:focus{
     border-color: var(--outlineFocus);
}

.heading{
     font-size: 2rem;
     font-weight: 700;
     margin: 0px;
     margin-bottom: 0.5rem;
     user-select: none;
}

.kongaroo{
     filter: invert(50%);
     width: 35%;
     margin: 0 auto 1rem;
     transform: translateX(-7.5%);
}

@media only screen and (max-device-width: 1100px){
     *{
          font-size: 1.5rem;
     }

     p{
          font-size: 3rem;
          margin: 3% 0 3% 0;
          font-weight: 800;
     }

     form{
          width: 70%;
          padding: 5%;
          border-radius: 1rem;
     }

     .item{
          font-size: 1.5rem;
          border-radius: 0.5rem;
          border-width: 4px;
     }

     #submit{
          padding-top: 20px;
          padding-bottom: 20px;
     }
}
