@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap');

:root{
     --snow-white: #f7f7f7;
     --menu1: #ffa600;
     --menu-highlight: #e29300;
     --shade: #e9e9e9;
     --navbar-height: 3rem;
}

*{
     margin: 0;
     padding: 0;
     color: #fff;
}

body{
     font-family: 'Nunito', 'sans-serif' ;
     background-color: var(--snow-white);
}

nav{
     height: var(--navbar-height);
     width: 95%;
     display: flex;
     flex-direction: row-reverse;
     background-color: var(--menu1);
     padding-right: 5%;
}

#login{
     height: 100%;
     display: flex;
     align-items: center;
     padding-right: 20px;
     padding-left: 20px;
     transition: 125ms;
     background-color: var(--menu1);
}

#login:hover {
     background-color: var(--menu-highlight);
}

#name{
     position: relative;
     font-weight: 500;
     font-size: 1.5rem;
     color: #fff;
     pointer-events: none;
     user-select: none;
}

#notification-board{
     position: absolute;
     float: right;
     top: var(--navbar-height);
     right: 0px;
     background-color: var(--snow-white);
     border: 2px solid var(--shade);
     
     z-index: 10;
     margin-right: 5%;
     margin-top: 0.4rem;
     filter: drop-shadow(2px 2px 2px #00000046);
     border-radius: 10px;
}

.notification-title{
     font-weight: 700 !important;
     font-size: 1.25rem !important;
     padding: 10px !important;
     padding-left: 20px !important;
     padding-right: 40px !important;
     pointer-events: none;
}

.notification-element{
     border-bottom: 2px solid var(--shade);
     font-weight: 500;
     font-size: 1rem;
     padding: 4px;
     padding-left: 20px;
     color: #000;
}

.notification-element:hover{
     background-color: var(--shade);
}
#board{
     position: relative;
     width: 100%;
     height: calc(100vh - var(--navbar-height));
}

.hide{
     display: none !important;
}

.last{
     border-bottom: none;
}
