@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap');

:root{
     --board: #eeeeee;
     --menu: #3c80b4;
     --detail: #00000000;
     --highlight: #d6d6d6;
     --contrast: #e5e5e5;
     --icon-color: #2d6c9c;
     --icon-highlight:#225d8a;
     --navbar-height: 3rem;
     --navbar-offset-r: 1%;
}

*{
     margin: 0;
     padding: 0;
     color: #fff;
     transition: 125ms;
}

body{
     font-family: 'Nunito', 'sans-serif' ;
}

nav{
     height: var(--navbar-height);
     width: calc(100% - var(--navbar-offset-r));
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
     background-color: var(--menu);
     padding-right: var(--navbar-offset-r);  
     user-select: none;
}

#login{
     height: 100%;
     display: flex;
     align-items: center;
     align-self: center;
     background-color: var(--icon-color);
     
     width: calc(var(--navbar-height) * 0.75);
     height: calc(var(--navbar-height) * 0.75);
     border-radius: calc(var(--navbar-height) * 0.75 * 0.5);
     overflow: hidden;
     user-select: none;
     cursor: pointer;
     border: 2px solid var(--detail);
}

.item{
     margin-left: 0.75rem;
}

#logout{
     display: flex;
     background-color: var(--icon-color);
     height: 100%;
     align-items: center;
     border-radius:   calc(var(--navbar-height) * 0.75 * 0.5 - 2px) 0 0 calc(var(--navbar-height) * 0.75 * 0.5 - 2px);
     padding: 0 calc(var(--navbar-height) * 0.75 * 0.5) 0 calc(var(--navbar-height) * 0.75 * 0.5);
}

#avatar{
     height: calc(var(--navbar-height) * 0.5);
     margin-right: auto;
     margin-left: calc((var(--navbar-height) * 0.75 / 2) - var(--navbar-height) * 0.5 / 2);
     filter: invert(100%);
}

#navigation{
     display: flex;
     flex-direction: row;
     width: 100%;
}

.nav-item{
     
     align-self: center;
     height: calc(var(--navbar-height) - 2px);
     padding: 0 1rem 0 1rem ;
     display: flex;
     align-items: center;
     border-top: 2px solid transparent;
     padding-bottom: 2px;
     transition: 125ms;
     cursor: pointer;
     box-sizing: border-box;
}

.nav-item:hover{
     border-color: var(--highlight);
     background-color: var(--icon-color);
}

#logo{
     height: calc((var(--navbar-height) * 0.75));
     filter: invert(100%);
     pointer-events: none;
}

#board{
     width: 100%;
     height: calc(100vh - var(--navbar-height) - 2px);
}

#logout:hover{
     background-color: var(--icon-highlight) !important;
}

#login:hover {
     background-color: var(--icon-highlight);
}

#user{
     margin-left: 0.5rem;
}

.stay{
     background-color: var(--icon-color) !important;
}

.hide{
     display: none;
}