.year-container {
     position: relative;
     width: calc(100% / 3 - 5rem);
     height: calc(100%);
     margin-left: 5rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     /* background-color: var(--green-accent); */
}

.year {
     /* width: fit-content; */
     height: fit-content;
     background-color: var(--green-light);
     margin: 1rem;
     padding: 1.25rem 0.5rem;
     border-radius: 0.5rem;
}

.cetegory {
     position: relative;
     width: 4rem;
     text-align: center;
     height: fit-content;
     padding: 1.2rem;
     margin: 0.75rem 0.75rem 0 0.75rem;
     border-radius: 0.5rem;
     background-color: #fff;
     cursor: pointer;
     color: #000;
}

.year h1{
     margin-left: 0.75rem;
     font-size: 1.5rem;
     font-weight: 500;
}

.cetegory:hover{
     background-color: var(--main1);
}

.category-name{
     color: #000;
}

.category-container{
     display: flex;
     flex-wrap: wrap;
     /* margin-top: 1rem; */
}