<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../static/css/admin/admin.css">
     <title>Administrace</title>
</head>
<body>
     <div class="stats">
          <h2>Odevzáno uživately</h2>
          <p>67 / 86</p>
     </div>
     <a href="{{ url_for('export') }}">
          <img src="/static/img/svg/save.svg">
          <p>Exportovat výsledky</p>
     </a>
</body>
</html>