<!DOCTYPE html>
<html lang="en">
     <head>
          <title>Mat klokan</title>
          <link rel="stylesheet" href="/static/css/main.css">
     </head>
     <body>
          <nav>
               <div id="account">
                    <div id="login">
                         <!-- <p id="name">{{ user }}</p> -->
                         <img id="avatar" class="item" src="../static/img/user-avatar.png" ></img>
                         <p   id="user" class="item">uzivatel</p>
                         <p   id="logout" class="item">odhlasit</p>
                    </div>
               </div>
          </nav>
          <div id="board">      </div>
          <script src="/static/javascript/logout.js"></script>
     </body>
</html>