<head>
     <title>Mat klokan</title>
     <link rel="stylesheet" href="../static/css/login.css">
     <meta charset="cz">
</head>
<body>
     <form autocomplete="off" action="http://localhost:2000/API/validation" method="post" id="form">
          <input name="login" placeholder="email" type="text" class="item text-input">
          <input name="password" placeholder="heslo" type="password" class="item text-input">
          <br style="line-height:0px; height:0px" />
          <input id="submit" type="submit" value="submit" class="item">
     </form>
     <script src="../static/javascript/login.js"></script>
</body>