<!DOCTYPE html>
<html lang="cz">
     <head>
          <meta charset="cz">
          <title>Mat klokan</title>
          <link rel="stylesheet" href="/static/css/user/colors.css">
          <link rel="stylesheet" href="/static/css/user/main.css">
          <link rel="stylesheet" href="/static/css/user/table.css">
          <link rel="stylesheet" href="/static/css/user/navbar.css">
          <link rel="preload" as="image" href="/static/img/svg/done_white_24dp.svg">
          <link rel="preload" as="image" href="/static/img/svg/delete.svg">
          <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
     </head>
     <body>
          <nav>
               <section id="category">
                    <h1>Ročník 2022</h1>
                    <div id="category-container"></div>
               </section>
               <section id="control">
                    <a class="button" id="save" onclick="save()">
                         <img src="/static/img/svg/save.svg">
                         <p>Uložit</p>
                    </a>
                    <a class="button" onclick="getExport()">
                         <img src="/static/img/svg/download.svg">
                         <p>Exportovat</p>
                    </a>
               </section>
               <section id="profile">
                    <div id="information">
                         <p style="font-weight: 500; font-size: 1rem;">{{ name }}</p>
                         <p style="font-weight: 300; font-size: 0.9rem;">{{ email }}</p>
                    </div>
                    
                    <a class="button" href="/API/logout">
                         <img src="/static/img/svg/logout.svg">
                         <p>Odhlasit</p>
                    </a>
               </section>
          </nav>

          <div id="main">
               <div id="best" class="table">
                    <div id="best-control">
                         <h1>Nejlepší řešitelé</h1>
                         <a onclick="addSolver(null)" class="single button"><img src="/static/img/svg/add.svg" alt=""></a>
                    </div>

                    <table id="results">
                         <tr id="navigation">
                              <td>Jmeno</td>
                              <td>Prijmeni</td>
                              <td>Trida</td>
                              <td>Datum narozeni</td>
                              <td>Pocet bodu</td>
                              <td></td>
                         </tr>
                    </table>
               </div>
               <div id="category-statistic" class="table">
                    <h1 id="category-name">Kategorie</h1>
                    <form id="result-form"></form>
               </div>
          </div>

          <script src="/static/javascript/css.js"></script>
          <script src="/static/javascript/category.js"></script>
          <script src="/static/javascript/sync.js"></script>
          <script src="/static/javascript/tables.js"></script>
     </body>
</html>