<!DOCTYPE html>
<html lang="cz">
     <head>
          <meta charset="cz">
          <title>Mat klokan</title>
          <link rel="stylesheet" href="/static/css/user/colors.css">
          <link rel="stylesheet" href="/static/css/user/main.css">
          <link rel="stylesheet" href="/static/css/user/table.css">
          <link rel="stylesheet" href="/static/css/user/navbar.css">
          <link rel="preload" as="image" href="/static/img/svg/done_white_24dp.svg">
          <link rel="preload" as="image" href="/static/img/svg/delete.svg">
          <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
     </head>
     <body>
          <nav>
               <div class="year">
                    <h1>Ročník 2022</h1>
                    <div class="category-container"></div>
               </div>
               <div class="control">
                    <div class="save" onclick="IChange(this)">
                         <img src="/static/img/svg/save.svg">
                         <p>Uložit</p>
                    </div>
                    <div class="save">
                         <img src="/static/img/svg/download.svg">
                         <p>Exportovat</p>
                    </div>
               </div>
               <div class="profile">
                    <div class="elements">
                         <img class="profile-icon" src="/static/img/svg/account.svg">
                         <div class="information">
                              <p style="font-weight: 500; font-size: 1rem;">{{ name }}</p>
                              <p style="font-weight: 300; font-size: 0.9rem;">{{ email }}</p>
                         </div>
                    </div>
                    <a class="logout"><img src="/static/img/svg/logout.svg">Odhlasit</a>
               </div>
          </nav>

          <div class="input-container hide">
               <div class="subcontainer">
                    <div class="best">
                         <div class="best-nav">
                              <h1 class="best-head"></h1>
                              <p onclick="addPlayer()">Přidat</p>
                         </div>
                         <!-- <img onclick="addPlayer()" src="/static/img/svg/add.svg" alt=""> -->
                         <div class="students">
                              <table class="studentList">
                                   <tr class="header">
                                        <td class="header">Jmeno</td>
                                        <td class="header">Prijimeni</td>
                                        <td class="header">Trida</td>
                                        <td class="header">Datum narozeni</td>
                                        <td class="header">Pocet bodu</td>
                                        <td class="header"></td>
                                   </tr>
                              </table>
                         </div>
                    </div>
                    <div class="tables">
                         <div class="activeTable">
                              <h1 class="scoreName">Kategorie</h1>
                              <form class="scoreForm"></form>
                         </div>
                    </div>
               </div>
          </div>
          <script src="/static/javascript/user/css.js"></script>
          <script src="/static/javascript/user/category.js"></script>
          <script src="/static/javascript/user/sync.js"></script>
          <script src="/static/javascript/user/tables.js"></script>
          <script src="/static/javascript/user/logout.js"></script>
     </body>
</html>