@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
     padding: 0;
     margin: 0;
     font-family: 'Roboto', 'sans-serif' ;
     position: relative;
}

body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
}

button {
     width: fit-content;
     outline: none;
     border: none;
     padding: 1rem 3rem;
}

.item-container {
     width: fit-content;
     display: flex;
     flex-direction: column;
     align-items: center;
}