@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
     padding: 0;
     margin: 0;
     font-family: 'Roboto', 'sans-serif' ;
     position: relative;
}

body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
}
a {
     background-color: #000;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 1rem;
}

a > * {
     margin: 1rem;
}

a > :last-child {
     margin-left: 0;
}

a > p {
     /* text-decoration: none; */
     color: #fff;
}
a {
     text-decoration: none;
}
a:active {
     text-decoration: none;
}

a:hover {
     background-color: #616161;
}

.stats {
     margin-bottom: 2rem;
}

.stats > p {
     margin: 0.5rem;
}

.item-container {
     width: fit-content;
     display: flex;
     flex-direction: column;
     align-items: center;
}